@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-orange: #fdab5f;
  --color-gray: #888888;
  --color-dark-hard: #1c1a1a;
  --color-dark-middle: #373332;
  --color-card: #292524;
}

html {
  background-color: rgb(19, 19, 19);
  color: #ffffff;
}

html:after {
  background: url("/bg.webp") center repeat;
  content: "";
  background-size: 150px 150px;
  position: fixed;
  bottom: 0;
  opacity: 0.5;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
}

input[type="range"] {
  -webkit-appearance: none;
  height: 3px;
  padding: 0;
  margin: 0;
  background: grey;
  border-radius: 5px;
  background-image: linear-gradient(#fdba75, #fdba75);
  background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}
